<?xml version="1.0" ?>
<launch>
  <arg name="mesh"/>
  <arg name="scale" default="0.01"/>

  <node name="mesh_pub" pkg="teleop_tracking" type="mesh_pub">
    <param name="mesh_file" value="$(arg mesh)"/>
  </node>

  <node name="mesh_test" pkg="teleop_tracking" type="walk_surface" output="screen">
    <param name="mesh_file" value="$(arg mesh)"/>
    <param name="scale" value="$(arg scale)"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teleop_support)/rviz/config.rviz" />
</launch>
